.header {
  display: flex;
  align-items: center;
  background-color: #105921;
  color: white;
  padding: 5px;
}

.header__logo img {
  width: 100px;
  object-fit: contain;
}

button.header__button {
  background: "transparent"; 
  padding-inline: "0px";
  border-width: "0px";
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 10px;
}

.header__searchInput {
  width: 100%;
  padding: 9px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.header__searchIcon {
  padding: 10px;
  background-color: #105921;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  cursor: pointer;
}

.header__optionLineOne {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}

.header__optionLineTwo {
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}

.header__optionCart {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__cartCount {
  margin-left: 5px;
  font-weight: 700;
  color: #ffffff;
}
