.carousel {
  position: relative;
  justify-content: center;
  align-items: center;
  width:"90%";
  aspect-ratio: 6;
  overflow: hidden;
  margin: 15px;
}

.image {
  width: 100%;
  object-fit: contain;
}

.slide {
  opacity: 0;
  transition: opacity 0.6s ease;
  position: absolute;
  top: 0;
  left: 0;
}

.slide.active {
  opacity: 1;
  position: relative;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  padding: 0.3em 0.6em;
  border-radius: 50%;
  z-index: 10;
}

.left-arrow:hover,
.right-arrow:hover {
  background: rgba(0,0,0,0.7);
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}
